.details-title {
  text-align: center;
}

.details {
  display: flex;
  justify-content: space-around;
}

.details-info {
  text-align: center;
}

.details-info__image {
  width: 20rem;
}

.details-info__description {
  width: 20rem;
}
