.home {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.select {
  width: 15rem;
  margin-bottom: 2.5rem;
  font-family: "McLaren", cursive;
  border-color: rgb(131, 131, 131);
  border-radius: 0.5rem;
  background-color: rgb(255, 253, 224);
  height: 2rem;
}
