.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .submit {
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 50%;
  }
}
